NEXT_PUBLIC_SUPABASE_URL=https://bgoulovsxblypxtpusia.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJnb3Vsb3ZzeGJseXB4dHB1c2lhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwMTk0NzUsImV4cCI6MjEwMjU5NTQ3NX0.bTqaiF9ePNOJaOw2upSXJy8BQ8M5EIzyiURfb3vC_Qo
